Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -google-readability-casting,
  -google-readability-todo,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-runtime-references,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -modernize-avoid-c-arrays,
  -modernize-loop-convert,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-named-parameter,
  -readability-simplify-boolean-expr,
